eclipse-sdv-blueprint/hardware-sim/node-red/flows/ev-range-dashboard.json
[
  {
    "id": "ev-range-tab",
    "type": "tab",
    "label": "EV Range Dashboard",
    "disabled": false,
    "info": "Mirrors pytk_dashboard.py layout (Drive / Battery / HVAC / Seat / Status panels)",
    "env": []
  },
  {
    "id": "ev-range-ui-base",
    "type": "ui-base",
    "name": "EV Range Control",
    "path": "/ev-range",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-control",
      "ui-notification"
    ],
    "showPathInSidebar": false,
    "headerContent": "dashboardName",
    "navigationStyle": "icon",
    "titleBarStyle": "fixed"
  },
  {
    "id": "ev-range-ui-theme",
    "type": "ui-theme",
    "name": "Dark Theme",
    "colors": {
      "surface": "#1a1a1a",
      "primary": "#ff6b35",
      "bgPage": "#0d0d0d",
      "groupBg": "#1f1f1f",
      "groupOutline": "#333333"
    },
    "sizes": {
      "pagePadding": "16px",
      "groupGap": "12px",
      "groupBorderRadius": "6px",
      "widgetGap": "8px"
    }
  },
  {
    "id": "ev-range-ui-page",
    "type": "ui-page",
    "name": "EV Range Extender",
    "ui": "ev-range-ui-base",
    "path": "/control",
    "icon": "car-electric",
    "layout": "grid",
    "theme": "ev-range-ui-theme",
    "order": 1,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-notify",
    "type": "ui-group",
    "name": "",
    "page": "ev-range-ui-page",
    "width": "12",
    "height": "2",
    "order": 0,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-drive",
    "type": "ui-group",
    "name": "Drive",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "6",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-fan",
    "type": "ui-group",
    "name": "Fan",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "6",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-battery",
    "type": "ui-group",
    "name": "Battery (VM1 - bms.py)",
    "page": "ev-range-ui-page",
    "width": "6",
    "height": "6",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-hvac",
    "type": "ui-group",
    "name": "Cabin HVAC (VM2 - hvac_ecu.py)",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "4",
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-seat",
    "type": "ui-group",
    "name": "Cabin Seat (VM2 - seat_ecu.py)",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "4",
    "order": 5,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-hvac-status",
    "type": "ui-group",
    "name": "HVAC Status (from VM2)",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "4",
    "order": 6,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-group-seat-status",
    "type": "ui-group",
    "name": "Seat Status (from VM2)",
    "page": "ev-range-ui-page",
    "width": "3",
    "height": "4",
    "order": 7,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "ev-range-init",
    "type": "inject",
    "z": "ev-range-tab",
    "name": "Initialize state",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 60,
    "wires": [
      [
        "ev-range-init-func"
      ]
    ]
  },
  {
    "id": "ev-range-client-connect",
    "type": "ui-control",
    "z": "ev-range-tab",
    "name": "On client connect",
    "ui": "ev-range-ui-base",
    "events": "connect",
    "x": 140,
    "y": 110,
    "wires": [
      [
        "ev-range-resync-on-connect",
        "ev-range-init-func"
      ]
    ]
  },
  {
    "id": "ev-range-resync-on-connect",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Force resync to new client",
    "func": "// Clear the change-tracking snapshot so the next /state poll\n// re-emits every value to the freshly connected widgets.\nflow.set('lastStatusSnap', null);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 110,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-init-func",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Publish startup defaults",
    "func": "// Mirror pytk_dashboard.py _publish_startup_defaults (T+1s).\nflow.set('soc', 80);\nflow.set('voltage', 380);\nflow.set('current', 30);\nflow.set('hvacValue', 0);\nflow.set('heatOn', false);\nflow.set('coolOn', false);\nflow.set('driveOn', false);\nflow.set('autoActionDone', false);\n\nconst defaults = [\n  { key: 'sim/battery/voltage', value: 380 },\n  { key: 'sim/battery/current', value: 30 },\n  { key: 'sim/battery/soc', value: 80 },\n  { key: 'sim/cabin/temp', value: 0 },\n  { key: 'sim/cabin/seat/heating', value: 0 },\n  { key: 'sim/cabin/seat/hc', value: 0 }\n];\n\n// Space publishes ~60ms apart so http-request node processes each cleanly.\ndefaults.forEach((d, i) => {\n  setTimeout(() => {\n    node.send([{ payload: d }, null]);\n  }, i * 60);\n});\n\n// After all defaults sent, kick the auto-action via output 2.\nsetTimeout(() => {\n  node.send([null, { payload: 'go' }]);\n}, defaults.length * 60 + 400);\n\nreturn null;",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 60,
    "wires": [
      [
        "ev-range-http-publish"
      ],
      [
        "ev-range-init-auto-action"
      ]
    ]
  },
  {
    "id": "ev-range-init-auto-action",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Auto action (fan=30, cool=ON)",
    "func": "// Mirror pytk_dashboard.py _apply_default_user_action (T+1.4s).\nif (flow.get('autoActionDone')) return null;\nflow.set('autoActionDone', true);\n\nflow.set('hvacValue', 30);\nflow.set('coolOn', true);\nflow.set('heatOn', false);\n\n// Stagger the 3 publishes ~60ms apart.\nconst pubs = [\n  { key: 'sim/cabin/temp', value: 30 },\n  { key: 'sim/cabin/seat/heating', value: 0 },\n  { key: 'sim/cabin/seat/hc', value: -100 }\n];\npubs.forEach((p, i) => {\n  setTimeout(() => {\n    node.send([{ payload: p }, null, null]);\n  }, i * 60);\n});\n\n// Sync UI controls.\nsetTimeout(() => node.send([null, { payload: 30 }, null]), 50);\nsetTimeout(() => node.send([null, null, { payload: true }]), 50);\n\nreturn null;",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 60,
    "wires": [
      [
        "ev-range-http-publish"
      ],
      [
        "ev-range-slider-hvac"
      ],
      [
        "ev-range-switch-cool"
      ]
    ]
  },
  {
    "id": "ev-range-drive-button",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-drive",
    "page": "",
    "ui": "",
    "name": "Engine Start/Stop",
    "order": 0,
    "width": "3",
    "height": "6",
    "head": "",
    "format": "<template>\n  <div class=\"engine-btn-wrap\" @click=\"toggle\">\n    <div class=\"engine-btn-outer\" :class=\"{ on: on }\">\n      <div class=\"engine-btn-bezel\">\n        <div class=\"engine-btn-inner\">\n          <div class=\"engine-btn-line line1\">ENGINE</div>\n          <div class=\"engine-btn-line line2\">START</div>\n          <div class=\"engine-btn-line line3\">STOP</div>\n        </div>\n      </div>\n    </div>\n    <div class=\"engine-btn-status\" :class=\"{ on: on }\">{{ on ? 'ENGINE ON' : 'PRESS TO START' }}</div>\n  </div>\n</template>\n<style>\n.engine-btn-wrap{display:flex;flex-direction:column;align-items:center;justify-content:center;cursor:pointer;user-select:none;padding:2px;width:100%;}\n.engine-btn-outer{width:170px;height:170px;min-width:170px;min-height:170px;max-width:170px;max-height:170px;flex:0 0 170px;aspect-ratio:1/1;box-sizing:border-box;border-radius:50%;background:radial-gradient(circle at 50% 35%, #4a4a4a 0%, #1a1a1a 70%);padding:6px;box-shadow:0 6px 14px rgba(0,0,0,0.6), inset 0 -3px 6px rgba(0,0,0,0.5), inset 0 3px 6px rgba(255,255,255,0.08);transition:all 0.2s ease;border:2px solid #b22222;}\n.engine-btn-outer.on{border-color:#27ae60;box-shadow:0 0 30px rgba(39,174,96,0.6), inset 0 -4px 8px rgba(0,0,0,0.5);}\n.engine-btn-outer:active{transform:translateY(2px);box-shadow:0 4px 10px rgba(0,0,0,0.6), inset 0 4px 8px rgba(0,0,0,0.6);}\n.engine-btn-bezel{width:100%;height:100%;box-sizing:border-box;border-radius:50%;background:linear-gradient(145deg,#2b2b2b,#101010);padding:8px;border:1px solid #555;}\n.engine-btn-inner{width:100%;height:100%;box-sizing:border-box;border-radius:50%;background:radial-gradient(circle at 50% 40%, #c0392b 0%, #7a1d12 80%);display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;font-family:'Arial Black','Helvetica',sans-serif;text-shadow:0 1px 2px rgba(0,0,0,0.8);box-shadow:inset 0 -6px 12px rgba(0,0,0,0.5), inset 0 6px 12px rgba(255,255,255,0.15);transition:background 0.3s;}\n.engine-btn-outer.on .engine-btn-inner{background:radial-gradient(circle at 50% 40%, #27ae60 0%, #145a32 80%);}\n.engine-btn-line{font-weight:900;letter-spacing:1px;line-height:1.05;}\n.line1{font-size:13px;opacity:0.85;}\n.line2{font-size:22px;}\n.line3{font-size:13px;opacity:0.85;}\n.engine-btn-status{margin-top:6px;font-family:monospace;font-size:13px;font-weight:bold;letter-spacing:1px;color:#888;}\n.engine-btn-status.on{color:#27ae60;}\n</style>\n<script>\nexport default {\n  data(){return {on:false}},\n  watch:{msg(m){if(m&&typeof m.payload==='boolean')this.on=m.payload}},\n  methods:{toggle(){this.on=!this.on;this.send({payload:this.on})}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 160,
    "y": 100,
    "wires": [
      [
        "ev-range-drive-handle"
      ]
    ]
  },
  {
    "id": "ev-range-drive-handle",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Toggle drive",
    "func": "const on = !!msg.payload;\nconst prev = !!flow.get('driveOn');\nflow.set('driveOn', on);\nconst fanMsg = { payload: on, topic: 'drive' };\nconst started = flow.get('engineStarted');\nif (!prev && on) {\n  flow.set('engineStarted', true);\n  return [fanMsg, { payload: { text: 'Engine turned ON', kind: 'on' } }];\n}\nif (prev && !on && started) {\n  return [fanMsg, { payload: { text: 'Engine turned OFF', kind: 'off' } }];\n}\nreturn [fanMsg, null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 140,
    "wires": [
      [
        "ev-range-fan-anim"
      ],
      [
        "ev-range-notify"
      ]
    ]
  },
  {
    "id": "ev-range-drive-tick",
    "type": "inject",
    "z": "ev-range-tab",
    "name": "1s tick",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 200,
    "wires": [
      [
        "ev-range-drive-step"
      ]
    ]
  },
  {
    "id": "ev-range-drive-step",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Drain SoC",
    "func": "if (!flow.get('driveOn')) return null;\nlet soc = Number(flow.get('soc') || 0);\nsoc = Math.max(0, soc - 1);\nflow.set('soc', soc);\nif (soc <= 0) {\n  flow.set('driveOn', false);\n  return [\n    { payload: { key: 'sim/battery/soc', value: 0 } },\n    { payload: 'Idle - battery depleted' },\n    { payload: 0 }\n  ];\n}\nreturn [\n  { payload: { key: 'sim/battery/soc', value: soc } },\n  null,\n  { payload: soc }\n];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 200,
    "wires": [
      [
        "ev-range-http-publish"
      ],
      [
        "ev-range-drive-text"
      ],
      [
        "ev-range-slider-soc",
        "ev-range-battery-meter"
      ]
    ]
  },
  {
    "id": "ev-range-slider-voltage",
    "type": "ui-slider",
    "z": "ev-range-tab",
    "group": "ev-range-group-battery",
    "name": "",
    "label": "Battery Voltage (V)",
    "tooltip": "320 - 420 V",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": "always",
    "showTicks": "false",
    "min": "320",
    "max": "420",
    "step": 1,
    "className": "",
    "iconPrepend": "",
    "iconAppend": "",
    "color": "",
    "colorTrack": "",
    "colorThumb": "",
    "x": 180,
    "y": 320,
    "wires": [
      [
        "ev-range-format-voltage"
      ]
    ]
  },
  {
    "id": "ev-range-format-voltage",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Publish voltage",
    "func": "const v = Math.round(Number(msg.payload));\nflow.set('voltage', v);\nreturn { payload: { key: 'sim/battery/voltage', value: v } };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [
      [
        "ev-range-http-publish"
      ]
    ]
  },
  {
    "id": "ev-range-slider-current",
    "type": "ui-slider",
    "z": "ev-range-tab",
    "group": "ev-range-group-battery",
    "name": "",
    "label": "Battery Current (A)",
    "tooltip": "0 - 200 A",
    "order": 2,
    "width": "6",
    "height": "1",
    "passthru": true,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": "always",
    "showTicks": "false",
    "min": "0",
    "max": "200",
    "step": 1,
    "className": "",
    "iconPrepend": "",
    "iconAppend": "",
    "color": "",
    "colorTrack": "",
    "colorThumb": "",
    "x": 180,
    "y": 380,
    "wires": [
      [
        "ev-range-format-current"
      ]
    ]
  },
  {
    "id": "ev-range-format-current",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Publish current",
    "func": "const v = Math.round(Number(msg.payload));\nflow.set('current', v);\nreturn { payload: { key: 'sim/battery/current', value: v } };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 380,
    "wires": [
      [
        "ev-range-http-publish"
      ]
    ]
  },
  {
    "id": "ev-range-slider-soc",
    "type": "ui-slider",
    "z": "ev-range-tab",
    "group": "ev-range-group-battery",
    "name": "",
    "label": "Battery % (SoC)",
    "tooltip": "0 - 100 %",
    "order": 3,
    "width": "6",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": "always",
    "showTicks": "false",
    "min": "0",
    "max": "100",
    "step": 1,
    "className": "",
    "iconPrepend": "",
    "iconAppend": "",
    "color": "",
    "colorTrack": "",
    "colorThumb": "",
    "x": 180,
    "y": 440,
    "wires": [
      [
        "ev-range-format-soc",
        "ev-range-battery-meter"
      ]
    ]
  },
  {
    "id": "ev-range-battery-meter",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-battery",
    "page": "",
    "ui": "",
    "name": "Battery meter",
    "order": 4,
    "width": "6",
    "height": "3",
    "head": "",
    "format": "<template>\n  <div class=\"bm-wrap\">\n    <div class=\"bm-body\">\n      <div class=\"bm-cap\"></div>\n      <div class=\"bm-shell\">\n        <div class=\"bm-fill\" :style=\"fillStyle\"></div>\n        <div class=\"bm-label\">{{ soc }}%</div>\n      </div>\n    </div>\n    <div class=\"bm-sub\">{{ statusText }}</div>\n  </div>\n</template>\n<style>\n.bm-wrap{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%;padding:6px;font-family:'Roboto Mono',monospace;}\n.bm-body{display:flex;align-items:center;}\n.bm-cap{width:10px;height:30px;background:#222;border:2px solid #555;border-right:none;border-radius:4px 0 0 4px;}\n.bm-shell{position:relative;width:260px;height:54px;background:#0a0a0a;border:3px solid #555;border-radius:6px;overflow:hidden;box-shadow:inset 0 -3px 6px rgba(0,0,0,0.6),0 4px 10px rgba(0,0,0,0.5);}\n.bm-fill{position:absolute;top:0;left:0;bottom:0;transition:width 0.5s ease,background 0.5s ease;box-shadow:inset 0 -4px 8px rgba(0,0,0,0.35);}\n.bm-label{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:22px;font-weight:900;color:#fff;text-shadow:0 1px 3px rgba(0,0,0,0.9);letter-spacing:2px;}\n.bm-sub{margin-top:8px;font-size:12px;letter-spacing:3px;color:#888;}\n</style>\n<script>\nexport default {\n  data(){return {soc:0}},\n  computed:{\n    color(){if(this.soc<=15)return '#e74c3c';if(this.soc<=40)return '#f39c12';return '#27ae60';},\n    fillStyle(){return {width:this.soc+'%', background:`linear-gradient(180deg, ${this.color}, ${this.color}dd)`};},\n    statusText(){if(this.soc<=15)return 'CRITICAL';if(this.soc<=40)return 'LOW';if(this.soc<=80)return 'OK';return 'FULL';}\n  },\n  watch:{msg(m){if(!m||m.payload==null)return;const n=Number(m.payload);if(!isNaN(n))this.soc=Math.max(0,Math.min(100,Math.round(n)));}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-format-soc",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Publish SoC",
    "func": "const v = Math.max(0, Math.min(100, Math.round(Number(msg.payload))));\nflow.set('soc', v);\nreturn { payload: { key: 'sim/battery/soc', value: v } };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 440,
    "wires": [
      [
        "ev-range-http-publish"
      ]
    ]
  },
  {
    "id": "ev-range-slider-hvac",
    "type": "ui-slider",
    "z": "ev-range-tab",
    "group": "ev-range-group-hvac",
    "name": "",
    "label": "Fan Speed (%)",
    "tooltip": "0 - 100 %",
    "order": 1,
    "width": "6",
    "height": "4",
    "passthru": false,
    "outs": "all",
    "topic": "topic",
    "topicType": "msg",
    "thumbLabel": "always",
    "showTicks": "false",
    "min": "0",
    "max": "100",
    "step": 1,
    "className": "fan-slider",
    "iconPrepend": "fan",
    "iconAppend": "",
    "color": "",
    "colorTrack": "",
    "colorThumb": "",
    "x": 180,
    "y": 540,
    "wires": [
      [
        "ev-range-format-hvac",
        "ev-range-fan-relay"
      ]
    ]
  },
  {
    "id": "ev-range-fan-relay",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Fan slider relay",
    "func": "const n = Number(msg.payload);\nif (isNaN(n)) return null;\nreturn { payload: Math.round(n), topic: 'fan' };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 580,
    "wires": [
      [
        "ev-range-fan-anim"
      ]
    ]
  },
  {
    "id": "ev-range-format-hvac",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Publish HVAC",
    "func": "const v = Math.round(Number(msg.payload));\nflow.set('hvacValue', v);\nreturn { payload: { key: 'sim/cabin/temp', value: v } };",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 540,
    "wires": [
      [
        "ev-range-http-publish"
      ]
    ]
  },
  {
    "id": "ev-range-switch-heat",
    "type": "ui-switch",
    "z": "ev-range-tab",
    "name": "",
    "label": "Seat Heating",
    "group": "ev-range-group-seat",
    "order": 1,
    "width": "6",
    "height": "2",
    "passthru": false,
    "decouple": true,
    "topic": "topic",
    "topicType": "str",
    "style": "",
    "className": "",
    "layout": "row-spread",
    "clickableArea": "both",
    "onvalue": true,
    "onvalueType": "bool",
    "onicon": "fire",
    "oncolor": "#e74c3c",
    "offvalue": false,
    "offvalueType": "bool",
    "officon": "circle-outline",
    "offcolor": "#7f8c8d",
    "x": 180,
    "y": 640,
    "wires": [
      [
        "ev-range-handle-heat"
      ]
    ]
  },
  {
    "id": "ev-range-handle-heat",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Heat handler",
    "func": "const on = !!msg.payload;\nflow.set('heatOn', on);\nif (on) {\n  flow.set('coolOn', false);\n  return [\n    [\n      { payload: { key: 'sim/cabin/seat/hc', value: 0 } },\n      { payload: { key: 'sim/cabin/seat/heating', value: 100 } }\n    ],\n    { payload: false }\n  ];\n}\nreturn [\n  [{ payload: { key: 'sim/cabin/seat/heating', value: 0 } }],\n  null\n];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 640,
    "wires": [
      [
        "ev-range-http-publish"
      ],
      [
        "ev-range-switch-cool"
      ]
    ]
  },
  {
    "id": "ev-range-switch-cool",
    "type": "ui-switch",
    "z": "ev-range-tab",
    "name": "",
    "label": "Seat Cooling",
    "group": "ev-range-group-seat",
    "order": 2,
    "width": "6",
    "height": "2",
    "passthru": false,
    "decouple": true,
    "topic": "topic",
    "topicType": "str",
    "style": "",
    "className": "",
    "layout": "row-spread",
    "clickableArea": "both",
    "onvalue": true,
    "onvalueType": "bool",
    "onicon": "snowflake",
    "oncolor": "#3498db",
    "offvalue": false,
    "offvalueType": "bool",
    "officon": "circle-outline",
    "offcolor": "#7f8c8d",
    "x": 180,
    "y": 700,
    "wires": [
      [
        "ev-range-handle-cool"
      ]
    ]
  },
  {
    "id": "ev-range-handle-cool",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Cool handler",
    "func": "const on = !!msg.payload;\nflow.set('coolOn', on);\nif (on) {\n  flow.set('heatOn', false);\n  return [\n    [\n      { payload: { key: 'sim/cabin/seat/heating', value: 0 } },\n      { payload: { key: 'sim/cabin/seat/hc', value: -100 } }\n    ],\n    { payload: false }\n  ];\n}\nreturn [\n  [{ payload: { key: 'sim/cabin/seat/hc', value: 0 } }],\n  null\n];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 700,
    "wires": [
      [
        "ev-range-http-publish"
      ],
      [
        "ev-range-switch-heat"
      ]
    ]
  },
  {
    "id": "ev-range-status-tick",
    "type": "inject",
    "z": "ev-range-tab",
    "name": "Poll bridge 500ms",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "0.5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 820,
    "wires": [
      [
        "ev-range-state-fetch"
      ]
    ]
  },
  {
    "id": "ev-range-state-fetch",
    "type": "http request",
    "z": "ev-range-tab",
    "name": "GET /state",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:1881/state",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 360,
    "y": 820,
    "wires": [
      [
        "ev-range-update-status"
      ]
    ]
  },
  {
    "id": "ev-range-update-status",
    "type": "function",
    "z": "ev-range-tab",
    "name": "Build status text",
    "func": "const payload = msg.payload || {};\nconst statuses = payload.statuses || {};\nconst signals = payload.signals || {};\n\n// ----- HVAC -----\nconst hvacStatus = statuses['dash/status/hvac'];\nlet hvacOn = false;\nlet hvacVal = 0;\nlet hvacText = 'awaiting ECU...';\nlet hvacSrc = '?';\nif (hvacStatus) {\n  if (hvacStatus.value !== undefined && hvacStatus.value !== null) {\n    hvacVal = Number(hvacStatus.value) || 0;\n    hvacOn = hvacVal > 0;\n  } else if (hvacStatus.status) {\n    hvacOn = String(hvacStatus.status).toLowerCase() === 'on';\n  }\n  hvacSrc = hvacStatus.source || hvacStatus._endpoint || '?';\n  hvacText = `Fan ${hvacOn ? 'ON' : 'OFF'} (${hvacVal}%)  src=${hvacSrc}`;\n}\nconst hvacDot = hvacOn ? '🟢' : '🔴';\n\n// ----- Seat -----\nconst heatStatus = statuses['dash/status/seat#seat.heating'];\nconst coolStatus = statuses['dash/status/seat#seat.heating_cooling'];\nconst heatingVal = heatStatus ? Number(heatStatus.value ?? 0) : 0;\nconst hcVal = coolStatus ? Number(coolStatus.value ?? 0) : 0;\nconst heatOn = (heatingVal !== 0) || (hcVal > 0);\nconst coolOn = (hcVal < 0);\nconst heatDot = heatOn ? '🔴' : '⚪';\nconst coolDot = coolOn ? '🔵' : '⚪';\nconst heatSrc = heatStatus ? (heatStatus.source || heatStatus._endpoint || '?') : '-';\nconst coolSrc = coolStatus ? (coolStatus.source || coolStatus._endpoint || '?') : '-';\nconst heatText = heatStatus ? `heating=${heatingVal} hc=${hcVal}  src=${heatSrc}` : 'awaiting ECU...';\nconst coolText = coolStatus ? `hc=${hcVal}  src=${coolSrc}` : 'awaiting ECU...';\n\n// ----- Battery (no reverse status; read latest published values) -----\nconst voltage = signals['sim/battery/voltage'];\nconst current = signals['sim/battery/current'];\nconst soc = signals['sim/battery/soc'];\n\n// ----- Change detection -----\nconst prev = flow.get('lastStatusSnap') || {};\nconst snap = { hvacVal, heatingVal, hcVal, voltage, current, soc, hvacOn, heatOn, coolOn };\nflow.set('lastStatusSnap', snap);\n\n// ----- Off notifications (only when prev was explicitly true) -----\nlet notif = null;\nif (flow.get('engineStarted')) {\n  if (prev.hvacOn === false && hvacOn) notif = { payload: { text: 'Fan turned ON', kind: 'on' } };\n  else if (prev.hvacOn === true && !hvacOn) notif = { payload: { text: 'Fan turned OFF', kind: 'off' } };\n  else if (prev.heatOn === false && heatOn) notif = { payload: { text: 'Seat heating turned ON', kind: 'on' } };\n  else if (prev.heatOn === true && !heatOn) notif = { payload: { text: 'Seat heating turned OFF', kind: 'off' } };\n  else if (prev.coolOn === false && coolOn) notif = { payload: { text: 'Seat cooling turned ON', kind: 'on' } };\n  else if (prev.coolOn === true && !coolOn) notif = { payload: { text: 'Seat cooling turned OFF', kind: 'off' } };\n}\n\nreturn [\n  { payload: `${hvacDot}  ${hvacText}` },\n  { payload: `${heatDot}  ${heatText}` },\n  { payload: `${coolDot}  ${coolText}` },\n  (prev.hvacVal !== hvacVal) ? { payload: hvacVal } : null,\n  (prev.heatingVal !== heatingVal) ? { payload: heatOn } : null,\n  (prev.hcVal !== hcVal) ? { payload: coolOn } : null,\n  (voltage !== undefined && prev.voltage !== voltage) ? { payload: voltage } : null,\n  (current !== undefined && prev.current !== current) ? { payload: current } : null,\n  (soc !== undefined && prev.soc !== soc) ? { payload: soc } : null,\n  notif\n];",
    "outputs": 10,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 820,
    "wires": [
      [
        "ev-range-text-hvac-status"
      ],
      [
        "ev-range-text-seat-heat-status"
      ],
      [
        "ev-range-text-seat-cool-status"
      ],
      [
        "ev-range-slider-hvac",
        "ev-range-fan-anim"
      ],
      [
        "ev-range-switch-heat"
      ],
      [
        "ev-range-switch-cool"
      ],
      [
        "ev-range-slider-voltage"
      ],
      [
        "ev-range-slider-current"
      ],
      [
        "ev-range-slider-soc",
        "ev-range-battery-meter"
      ],
      [
        "ev-range-notify"
      ]
    ]
  },
  {
    "id": "ev-range-fan-anim",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-fan",
    "page": "",
    "ui": "",
    "name": "Fan animation",
    "order": 1,
    "width": "3",
    "height": "6",
    "head": "",
    "format": "<template>\n  <div class=\"fan-wrap\">\n    <svg :class=\"['fan-svg', { spinning: !off }]\" :style=\"svgStyle\" viewBox=\"0 0 120 120\">\n      <defs>\n        <radialGradient :id=\"'fan-housing-'+uid\" cx=\"50%\" cy=\"40%\" r=\"60%\">\n          <stop offset=\"0%\" stop-color=\"#3a3a3a\" />\n          <stop offset=\"100%\" stop-color=\"#0a0a0a\" />\n        </radialGradient>\n        <linearGradient :id=\"'fan-blade-'+uid\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n          <stop offset=\"0%\" :stop-color=\"bladeHi\" />\n          <stop offset=\"100%\" :stop-color=\"bladeLo\" />\n        </linearGradient>\n        <radialGradient :id=\"'fan-hub-'+uid\" cx=\"50%\" cy=\"50%\" r=\"50%\">\n          <stop offset=\"0%\" stop-color=\"#bbb\" />\n          <stop offset=\"100%\" stop-color=\"#222\" />\n        </radialGradient>\n        <filter :id=\"'fan-glow-'+uid\" x=\"-50%\" y=\"-50%\" width=\"200%\" height=\"200%\">\n          <feGaussianBlur stdDeviation=\"3\" result=\"b\" />\n          <feMerge><feMergeNode in=\"b\"/><feMergeNode in=\"SourceGraphic\"/></feMerge>\n        </filter>\n      </defs>\n      <circle cx=\"60\" cy=\"60\" r=\"58\" :fill=\"'url(#fan-housing-'+uid+')'\" stroke=\"#555\" stroke-width=\"2\" />\n      <circle cx=\"60\" cy=\"60\" r=\"52\" fill=\"none\" stroke=\"#1a1a1a\" stroke-width=\"1\" />\n      <g :fill=\"'url(#fan-blade-'+uid+')'\" :filter=\"glowing?'url(#fan-glow-'+uid+')':''\" opacity=\"0.95\">\n        <path d=\"M60 60 C 70 30, 70 18, 60 8 C 50 18, 50 30, 60 60 Z\" />\n        <path d=\"M60 60 C 90 50, 102 50, 112 60 C 102 70, 90 70, 60 60 Z\" />\n        <path d=\"M60 60 C 50 90, 50 102, 60 112 C 70 102, 70 90, 60 60 Z\" />\n        <path d=\"M60 60 C 30 70, 18 70, 8 60 C 18 50, 30 50, 60 60 Z\" />\n      </g>\n      <circle cx=\"60\" cy=\"60\" r=\"10\" :fill=\"'url(#fan-hub-'+uid+')'\" stroke=\"#000\" stroke-width=\"1.5\" />\n      <circle cx=\"60\" cy=\"60\" r=\"3\" fill=\"#000\" />\n    </svg>\n    <div class=\"fan-meta\">\n      <div class=\"fan-value\" :style=\"{ color: bladeHi, textShadow: glowing ? `0 0 12px ${bladeHi}` : 'none' }\">{{ valueLabel }}</div>\n      <div class=\"fan-sublabel\">{{ rpmLabel }}</div>\n    </div>\n    <!-- hidden style injector: recolors fan slider when speed===0 -->\n    <component :is=\"'style'\">.fan-slider .v-slider-track__background, .fan-slider .v-slider-track__background--opacity { background: {{ trackColor }} !important; opacity: 1 !important; } .fan-slider .v-slider-track__fill { background: {{ fillColor }} !important; } .fan-slider .v-slider-thumb__surface { background: {{ fillColor }} !important; } .fan-slider .v-icon { color: {{ fillColor }} !important; }</component>\n  </div>\n</template>\n<style>\n.fan-wrap{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:4px 4px;width:100%;}\n.fan-svg{width:140px;height:140px;min-width:140px;min-height:140px;max-width:140px;max-height:140px;flex:0 0 140px;aspect-ratio:1/1;transform-origin:50% 50%;filter:drop-shadow(0 4px 10px rgba(0,0,0,0.6));}\n.fan-svg.spinning{animation:fan-spin var(--fan-dur,2s) linear infinite;}\n@keyframes fan-spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}\n.fan-meta{display:flex;flex-direction:column;align-items:center;margin-top:4px;font-family:'Roboto Mono',monospace;}\n.fan-value{font-size:22px;font-weight:900;letter-spacing:2px;transition:all 0.3s;}\n.fan-sublabel{font-size:13px;letter-spacing:4px;color:#999;margin-top:2px;}\n</style>\n<script>\nexport default {\n  data(){return {engineOn:false,speed:0,uid:Math.random().toString(36).slice(2,8)}},\n  computed:{\n    svgStyle(){const s=Math.max(1,this.speed);const dur=Math.max(0.18,2.6-(s/100)*2.42);return {'--fan-dur':dur+'s'}},\n    glowing(){return this.speed>0},\n    bladeHi(){if(this.speed===0)return '#666';if(this.speed<33)return '#3498db';if(this.speed<66)return '#ff6b35';return '#e74c3c'},\n    bladeLo(){if(this.speed===0)return '#333';if(this.speed<33)return '#1a4a6b';if(this.speed<66)return '#7a3215';return '#7a1d12'},\n    rpmLabel(){if(!this.engineOn||this.speed===0)return 'IDLE';if(this.speed<33)return 'LOW';if(this.speed<66)return 'MEDIUM';return 'HIGH'},\n    trackColor(){return this.speed===0?'rgba(231,76,60,0.35)':'rgba(255,107,53,0.30)'},\n    fillColor(){return this.speed===0?'#e74c3c':'#ff6b35'},\n    off(){return !this.engineOn||this.speed===0},\n    valueLabel(){return this.off?'OFF':this.speed+'%'}\n  },\n  watch:{msg:{handler(m){if(!m||m.payload==null)return;if(m.topic==='drive'){this.engineOn=!!m.payload;return;}const n=Number(m.payload);if(!isNaN(n))this.speed=Math.max(0,Math.min(100,Math.round(n)));},deep:true,immediate:true}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-text-hvac-status",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-hvac-status",
    "page": "",
    "ui": "",
    "name": "HVAC LED",
    "order": 1,
    "width": "3",
    "height": "4",
    "head": "",
    "format": "<template>\n  <div class=\"led-row\">\n    <div class=\"led-title\">FAN</div>\n    <div class=\"led-dot\" :style=\"dotStyle\"></div>\n  </div>\n</template>\n<style>\n.led-row{display:flex;align-items:center;justify-content:center;gap:18px;padding:10px 6px;width:100%;height:100%;}\n.led-dot{width:64px;height:64px;min-width:64px;border-radius:50%;border:3px solid #0a0a0a;transition:all 0.4s ease;}\n.led-title{font-family:'Roboto Mono',monospace;font-size:15px;font-weight:bold;letter-spacing:3px;color:#bbb;}\n</style>\n<script>\nexport default {\n  data(){return {color:'#1a1a1a',glow:false}},\n  computed:{\n    dotStyle(){return {background:this.color, boxShadow:this.glow?`0 0 22px 5px ${this.color}, inset 0 -6px 12px rgba(0,0,0,0.55)`:'inset 0 -6px 12px rgba(0,0,0,0.55)'}}\n  },\n  watch:{msg(m){if(!m||m.payload==null)return;const s=String(m.payload);if(s.includes('\\uD83D\\uDFE2')){this.color='#1e7a3e';this.glow=true;}else if(s.includes('\\uD83D\\uDD35')){this.color='#1f6ea8';this.glow=true;}else if(s.includes('\\uD83D\\uDD34')){this.color='#a02a1e';this.glow=true;}else{this.color='#1a1a1a';this.glow=false;}}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-text-seat-heat-status",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-seat-status",
    "page": "",
    "ui": "",
    "name": "Seat heating LED",
    "order": 1,
    "width": "3",
    "height": "2",
    "head": "",
    "format": "<template>\n  <div class=\"led-row\">\n    <div class=\"led-title\">SEAT HEAT</div>\n    <div class=\"led-dot\" :style=\"dotStyle\"></div>\n  </div>\n</template>\n<style>\n.led-row{display:flex;align-items:center;justify-content:center;gap:18px;padding:10px 6px;width:100%;height:100%;}\n.led-dot{width:64px;height:64px;min-width:64px;border-radius:50%;border:3px solid #0a0a0a;transition:all 0.4s ease;}\n.led-title{font-family:'Roboto Mono',monospace;font-size:15px;font-weight:bold;letter-spacing:3px;color:#bbb;}\n</style>\n<script>\nexport default {\n  data(){return {color:'#1a1a1a',glow:false}},\n  computed:{\n    dotStyle(){return {background:this.color, boxShadow:this.glow?`0 0 22px 5px ${this.color}, inset 0 -6px 12px rgba(0,0,0,0.55)`:'inset 0 -6px 12px rgba(0,0,0,0.55)'}}\n  },\n  watch:{msg(m){if(!m||m.payload==null)return;const s=String(m.payload);if(s.includes('\\uD83D\\uDD34')){this.color='#a02a1e';this.glow=true;}else if(s.includes('\\uD83D\\uDFE2')){this.color='#1e7a3e';this.glow=true;}else if(s.includes('\\uD83D\\uDD35')){this.color='#1f6ea8';this.glow=true;}else{this.color='#1a1a1a';this.glow=false;}}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-text-seat-cool-status",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-seat-status",
    "page": "",
    "ui": "",
    "name": "Seat cooling LED",
    "order": 2,
    "width": "3",
    "height": "2",
    "head": "",
    "format": "<template>\n  <div class=\"led-row\">\n    <div class=\"led-title\">SEAT COOL</div>\n    <div class=\"led-dot\" :style=\"dotStyle\"></div>\n  </div>\n</template>\n<style>\n.led-row{display:flex;align-items:center;justify-content:center;gap:18px;padding:10px 6px;width:100%;height:100%;}\n.led-dot{width:64px;height:64px;min-width:64px;border-radius:50%;border:3px solid #0a0a0a;transition:all 0.4s ease;}\n.led-title{font-family:'Roboto Mono',monospace;font-size:15px;font-weight:bold;letter-spacing:3px;color:#bbb;}\n</style>\n<script>\nexport default {\n  data(){return {color:'#1a1a1a',glow:false}},\n  computed:{\n    dotStyle(){return {background:this.color, boxShadow:this.glow?`0 0 22px 5px ${this.color}, inset 0 -6px 12px rgba(0,0,0,0.55)`:'inset 0 -6px 12px rgba(0,0,0,0.55)'}}\n  },\n  watch:{msg(m){if(!m||m.payload==null)return;const s=String(m.payload);if(s.includes('\\uD83D\\uDD35')){this.color='#1f6ea8';this.glow=true;}else if(s.includes('\\uD83D\\uDFE2')){this.color='#1e7a3e';this.glow=true;}else if(s.includes('\\uD83D\\uDD34')){this.color='#a02a1e';this.glow=true;}else{this.color='#1a1a1a';this.glow=false;}}}\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-header",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-notify",
    "page": "",
    "ui": "",
    "name": "Header",
    "order": 0,
    "width": "12",
    "height": "1",
    "head": "",
    "format": "<template>\n  <div class=\"hdr-wrap\">\n    <span class=\"hdr-title\">EV RANGE EXTENDER</span>\n  </div>\n</template>\n<style>\n.hdr-wrap{display:flex;align-items:center;justify-content:center;width:100%;padding:6px 0;background:transparent;}\n.hdr-title{font-family:'Arial Black','Helvetica',sans-serif;font-size:22px;font-weight:900;letter-spacing:6px;color:#e8f0ff;text-shadow:0 2px 4px rgba(0,0,0,0.8);}\n</style>",
    "storeOutMessages": false,
    "passthru": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-notify",
    "type": "ui-template",
    "z": "ev-range-tab",
    "group": "ev-range-group-notify",
    "page": "",
    "ui": "",
    "name": "Off notifications",
    "order": 1,
    "width": "12",
    "height": "1",
    "head": "",
    "format": "<template>\n  <transition name=\"notif-fade\">\n    <div v-if=\"visible\" class=\"notif-banner\" :class=\"kind\">\n      <span class=\"notif-icon\">{{ kind==='on' ? '✓' : '!' }}</span>\n      <span class=\"notif-text\">{{ text }}</span>\n      <span class=\"notif-time\">{{ time }}</span>\n    </div>\n  </transition>\n</template>\n<style>\n.notif-banner{display:flex;align-items:center;gap:12px;width:100%;padding:6px 14px;color:#fff;border-radius:6px;box-shadow:0 4px 12px rgba(0,0,0,0.5),inset 0 -2px 4px rgba(0,0,0,0.4);font-family:'Roboto Mono',monospace;letter-spacing:1px;}\n.notif-banner.off{background:linear-gradient(90deg,#c0392b,#7a1d12);}\n.notif-banner.on{background:linear-gradient(90deg,#27ae60,#145a32);}\n.notif-icon{display:flex;align-items:center;justify-content:center;width:24px;height:24px;border-radius:50%;background:#fff;font-weight:900;font-size:14px;flex:0 0 24px;}\n.notif-banner.off .notif-icon{color:#c0392b;}\n.notif-banner.on .notif-icon{color:#27ae60;}\n.notif-text{flex:1;font-size:13px;font-weight:bold;}\n.notif-time{font-size:11px;opacity:0.85;}\n.notif-fade-enter-active,.notif-fade-leave-active{transition:all 0.4s ease;}\n.notif-fade-enter-from{opacity:0;transform:translateY(-12px);}\n.notif-fade-leave-to{opacity:0;transform:translateY(-12px);}\n</style>\n<script>\nexport default {\n  data(){return {text:'',time:'',kind:'off',visible:false,timer:null}},\n  watch:{msg(m){if(!m||m.payload==null)return;let s,k;if(typeof m.payload==='object'){s=String(m.payload.text||'').trim();k=m.payload.kind==='on'?'on':'off';}else{s=String(m.payload).trim();k=/ON$/i.test(s)?'on':'off';}if(!s)return;this.text=s;this.kind=k;this.time=new Date().toLocaleTimeString();this.visible=true;if(this.timer)clearTimeout(this.timer);this.timer=setTimeout(()=>{this.visible=false;},5000);}}\n}\n</script>",
    "storeOutMessages": false,
    "passthru": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "ev-range-http-publish",
    "type": "http request",
    "z": "ev-range-tab",
    "name": "POST /publish",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:1881/publish",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "other",
        "keyValue": "Content-Type",
        "valueType": "other",
        "valueValue": "application/json"
      }
    ],
    "x": 700,
    "y": 440,
    "wires": [
      []
    ]
  }
]
